*.iml
.gradle
local.properties
/local.properties
/.idea/caches
/app/.idea/libraries
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/.idea/caches/build_file_checksums.ser
/app/app.iml
/app/.idea/modules.xml
